<h5 class="mb-3">Add Game</h5>
<form [formGroup]="form">
  <mat-dialog-content>
      <mat-form-field class="w-100">
          <input matInput
                  placeholder="Name"
                  formControlName="name">
      </mat-form-field>
      <mat-form-field class="w-100">
          <input matInput
                  placeholder="Developer"
                  formControlName="developer">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput
                placeholder="Genre"
                formControlName="genre">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput
              placeholder="Release Date"
              formControlName="release">
  </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button type="button" mat-stroked-button (click)="close()" class="w-25">Cancel</button>
      <button type="submit" mat-stroked-button color="primary" (click)="addGame()" class="ml-auto w-50">Add Game</button>
  </mat-dialog-actions>
</form>
